.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;

  &_success {
    background: var(--color-success);
  }

  &_danger {
    background: var(--color-danger);
  }

  &_warning {
    background: var(--color-warning);
  }
}
