.loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.details-link {
  text-transform: uppercase;
  color: #000;
  margin-top: 43px;
}

.select-showcase {
  display: flex;
  gap: 60px;
  align-items: flex-start;
  margin-top: 40px;
}

.select-showcase__column {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.select-showcase__title {
  font-weight: 700;
}

.input-showcase {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 480px;
  margin-top: 40px;
}

.input-showcase__column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.input-showcase__title {
  font-weight: 700;
}

.card-showcase {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 40px;
}

.card-showcase__title {
  font-weight: 700;
}
